
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: #F6F6F2;
}

a {
    color: #FF5249;
}

h1 {
    padding: 25px 0;
}

p {
    font-size: 18px;
    line-height: 30px;
}

.wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: margin 0 auto; 
}

.canvas {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transform: translate3d(0);
            transform: translate3d(0);
    -webkit-transition: .3s ease all;
            transition: .3s ease all;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.conteudo {
    margin-top:-150px;
    padding: 10%;
}

@media screen and (max-width: 580px){
    
    .conteudo {
        margin-top:0px;
    }

}

.menu {
    height: 100%;
    position: absolute;
    -webkit-transform: translate3d(-300px,0,0);
            transform: translate3d(-300px,0,0);
    width: 300px;
    background: #3f3736;
    padding: 5rem;
}

.menu a {
    
    font-size: 1em;
    display: inline-block;
    padding: 10px;
    color: #FFF;
    text-decoration: none;
}

.menu a:hover{
    cursor: pointer;
}
.menu ul {
    list-style: none;
}

.menu ul {
    text-transform: uppercase
}

/*##### Home ######*/
.menu ul li.home{
	display: inline-block;	
}


.menu ul li.home:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}


.menu ul li.home:hover:after {
  width: 85%;
  background: #7C4F3F;
}

/*##### End Home ######*/


/*##### Sobre ######*/
.menu ul li.sobre{
	display: inline-block;
	
}


.menu ul li.sobre:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}


.menu ul li.sobre:hover:after {
  width: 85%;
  background: #3DA8FF;
}

/*##### End Sobre ######*/


/*##### Portfólio ######*/
.menu ul li.port{
	display: inline-block;
	
}


.menu ul li.port:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}


.menu ul li.port:hover:after {
  width: 85%;
  background: #FF872B;
}

/*##### End Portfólio ######*/


/*##### Contato ######*/
.menu ul li.contact{
	display: inline-block;
	
}


.menu ul li.contact:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}


.menu ul li.contact:hover:after {
  width: 85%;
  background: #7F002B;
}

/*##### End Contato ######*/

.footer {
  height: 75.5px;
}

.footer ul li{
    list-style: none;   
    display: inline-block;
    padding: 15px;
    
}

.footer i{
    color:#fff;
}

footer{
    text-align: center;
    background: #e16c58;
    color: white;
    line-height: 50px;
    padding: 0 20px 10px;
    margin-bottom: 0px;
}


.menu-anchor {
    top: 0;
	width: 60px;
	height: 52px;
    z-index: 9999;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	text-indent: -9999px;
	overflow: hidden;
	cursor: pointer;
	background: #000;
    border-radius: 1px;

    
}

.menu-anchor:before {
	content: "";
	display: block;
	margin: 15px auto;
	width: 80%;
	height: 0.30em;
	background: #f49c14;
	box-shadow: 0 .45em 0 0 #f49c14, 0 .9em 0 0 #f49c14;
}

.wrapper.show-menu .canvas {
    -webkit-transform: translate3d(300px,0,0);
            transform: translate3d(300px,0,0);
}





.quadrado-facebook{
  background: #008CFF;
  width:40px;
  height:40px;
}

.quadrado-twitter{
  background: #42A5F5;
  width:40px;
  height:40px;
}


.quadrado-linkedin{
  background: #666;
  width:40px;
  height:40px;
}


.about-img-me{
    align-content: center;
    border-radius: 100%;
    border: 5px solid #ccc;
    width: 10rem;
    height: 9em;
    margin: 12px;
    shape-outside: inset(-5px round 100px ) border-box;

    
    
}

.about-text-me{
    margin-left: -5px;
}


hr.line-space {
    height: 0.02rem;   
    margin-bottom: 20px;
}


.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  padding: 5px;
  width: 300px;
  height: 250px;
  margin-top: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}






.post-it-text {
  font-family: helvetica;
  font-weight: bold;
}

.post-it-note {
  padding: 1em;
  background: #ffd707;
  position: relative;
  min-height: 2em;
}

.post-it-note:after {
  content: "";
  position: absolute;
  bottom: -1em;
  left: 0;
  right: 1em;
  border-width: 0.5em;
  border-style: solid;
  border-color: #ffd707;
}

.post-it-note:before {
  content: "";
  position: absolute;
  bottom: -1em;
  right: 0;
  border-width: 1em 1em 0 0;
  border-style: solid;
  border-color: #d3b100 transparent;
}




form{
	margin-top: 2rem;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select{
  width:100%;
  max-width:100%;
  padding: 6px 12px;
  border-radius: 4px;
  border: 2px solid #000;
  margin: .5em 0 0.8em 0;
}


textarea{
  min-height:15em;
}

input[type="submit"].btn{
  outline:none;
  background: transparent;
  text-align:center;
}

input[type="submit"], .btn:hover{
    border:2px solid #000;;
    color:#000;;

  }



.btn {
	padding: 6px 12px;
	background-color: #fff;
    border-color: #ccc;
	border-radius: 4px;
	border: 1px solid;
}

.btn.btn-medium{
	padding: 10px 16px;
	background-color:#fff;
    border-color: #ccc;
	border-radius: 4.2px;
	border: 1.5px solid;
}


.text-header{
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
}