                <h1 class="text-header">Projetos</h1>
                <hr class="line-space">
                
                <ul class="flex-container">
                <% @projects.each do |project| %>
                    <li class="flex-item">
                       <a >
                            <div class="post-it-note">
                            <p class="post-it-text"><a href="#"><%= link_to project.title, project%></a></p>
                            <p class="date"><%= project.created_at.strftime("%A,%b %d")%></p>
                        </div>
                       </a>
                    </li>
                     
                    <% end %>
                    
                </ul>
