    <h1  class="text-header">Sobre</h1>
                <hr class="line-space">
              
                    
                    <p align="center">
                    	<%= image_tag 'igor.jpg', class:'about-img-me'  %>
                    </p>

                   <p class="about-text-me">
                       Meu nome é Igor Vieira, sou um desenvolvedor Front-End, nasci em São Paulo capital, e atualmente vivo em Goiânia, onde praticamente estive boa parte da minha vida,
                       como alguns, aprendi lógica de programação bem cedo, lá pelos 15 para os 16 anos, logo que entrei para a faculdade, Faculdade de Tecnologia Senac Goiás, onde vi bastante coisa de nodejs e front-end, trabalhei logo em seguida na <a href="https://www.aplusplatform.com/index">APlus</a>, fora que pouco depois conheci o pessoal da <a href="http://gojs.org/">GOJS</a>, onde tem uma galera monstra, com pensamentos, tecnicas e conhecimentos muito maiores que os meus, e sou muito grato por ter conhecido essas pessoas que volta e meia eu encontro nos eventos, e agora espero poder retribuir e/ou ajudar outros por meio desse blog, bem esse é um pouco sobre mim, e espero ver vocês em mais posts ou pela vida, e desde já agradeço a atenção, até mais! =]

                    <h1  class="text-header">Minhas Skill's</h1>
                    <p>
                        <ul class="text-skills">
                            <li>UX</li>
                            <li>HTML, Jade, ejs e erb</li>
                            <li>RWD(Response Web Design)</li>
                            <li>Frameworks CSS(Materialize, Foundation e Bootstrap)</li>
                            <li>Javascript</li>
                            <li>AngularJS</li>
                            <li>ReactJs</li>
                            <li>Ruby</li>
                            <li>Java</li>
                            <li>PHP</li>                            
                            <li>Postgres, MongoDB e MySQL</li>
                        </ul>
                    </p>                   
                   </p>
