<h1  class="text-header">Contato</h1>
                <hr class="line-space">
          <div>

              <form action="">
                  <label for="">Nome:</label><br>
                  <input type="text" placeholder="Nome"><br>
                  <label for="">Email:</label><br>
                  <input type="email" placeholder="contato@email"><br>
                  <textarea name="" id="" cols="30" rows="10"></textarea><br>
                  <input type="submit" value="Enviar" class="button">
              </form>
          </div>


      </div>
  