$whitecolor:#fff;
$darkcolor:#000;
$bodycolor:#F6F6F2;
$linkcolor:#827b74;
$homecolor:#7C4F3F;
$aboutcolor:#3DA8FF;
$portcolor:#FF872B;
$contactcolor:#7F002B;
$postitcolor:#ffd707;
$backpostitcolor:#ffd707;
$datailpostit_color:#d3b100;
$facebookcolor:#008CFF;
$twittercolor:#42A5F5;
$linkedincolor:#666;
$githubcolor:#BDB5AE;