@import 'colors';


footer{
    visibility: hidden;
}


.footer {
   visibility: visible;
  text-align: center;
  background: #e16c58;
  color: white;
  line-height: 50px;
  padding: 0 20px 10px;
  margin-bottom: 0px;
  height: 75.5px;
    ul li{
        list-style: none;   
        display: inline-block;
        padding: 15px;
        
    }
    i{
        color:$whitecolor;
    }

}

.quadrado{
  width:40px;
  height:40px;

    &.facebook{
      background: $facebookcolor;
  
    }

    &.twitter{
      background: $twittercolor;
     
    }


    &.linkedin{
      background: $linkedincolor;
     
    }

    &.github{
      background: $githubcolor;
    }
}

